[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
Django = "*"
gunicorn = "*"
"psycopg2" = "*"
"pillow" = "*"
"celery" = "*"
"flower" = "*"



[requires]
# our Dockerfile is based on Python 3.7.4
python_version = "3.7.4"
